body {
    display: inline;
}

.other-info {
    margin: 10px;
}

.inline-block {
    display: inline-block;
    margin-bottom: 10px;
}

img {
    float: left;
    width: 128px;
    height: 128px;
    padding: 0 10px;
}

.float-left {
    float: left;
}

.acceptEmail {
     border: 1px solid #569b44;
 }

.wrongEmail {
    border: 1px solid #ff0000;
}

.acceptPassword {
    border: 1px solid #569b44;
}

.wrongPassword {
    border: 1px solid #ff0000;
}

.notDisplayed {
    display: none;
}

.article{
    width:100px;
    height:100px;
    background:#333;
    float:left;
    margin:5px;
}